#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 93vh;   
    background-color: #2b6777;
    padding: 0;
    font-size: 21px;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: #fff;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #2b6777;
    height: 35px;
}
.sidebar-separator {
    background-color: #2b6777;
    height: 25px;
}
.logo-separator {
    background-color: #2b6777;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
.display-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.money-card{
    height: 150px;
    background-color: #52ab98;
    width: 500px;
    border-radius: 15px;
    padding: 15px;
    font-size: 35px;
    color: white;
    font-family: 'Rubik Dirt', cursive;
}
.bg-primary-customise{
    background-color: #fff;
    color: #2b6777;
    border-bottom: 2px solid #2b6777;
}
.list-group-item {
    background-color: #2b6777 !important;
}

.list-group-item:hover {
    background-color: #c8d8e4 !important;
}
.navbar-dark .navbar-brand, h2{
    color: #2b6777 !important;
    border-bottom: 2px solid white ;
    padding-bottom: 10px;
}
h2{
    margin-bottom: 30px
}
.outcome{
    background-color: #ab5252;
}
.net{
    background-color: #2b6777;
}
thead tr, .nav-link{
    color: #2b6777 !important;
    font-weight: bolder;
    font-size: 20px;
}
tr{
    border-bottom: 2px solid white !important;
    color: white !important;
    font-weight: bolder;
    font-size: 25px;
}
.outcome-tr{
    background-color: #ab5252 !important;
   
}
.income-tr{
    background-color: #52ab98 !important;

}
table{
    border-top: 2px solid white !important
}
.subtitle{
    font-size: 40px !important;
    font-weight: bold;
    text-decoration: 2px dotted #2b6777;
}
.seperator{
    border-bottom: 2px dotted #2b6777;
}
.btn-primary{
    background-color: #2b6777!important;
    border: 2px solid #2b6777 !important;
    font-weight: bold !important;
}
.btn-primary:hover{
    background-color: white !important;
    color: #2b6777 !important;
    border: 2px solid #2b6777 !important;
}
.flex-end{
    display: flex;
    justify-content: end;
    align-items: center;
}
.form-control:focus{
    box-shadow:  0 0 0 0rem rgba(247, 54, 72, 0.25) !important;
    border-color: #ced4da !important;
}
.form-control, .input-group-text{
    color: #2b6777 !important
}
.add-button{
    height: 50px
}
.hide{
    display: none
}