#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #2b6777;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: #fff;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #2b6777;
    height: 35px;
}
.sidebar-separator {
    background-color: #2b6777;
    height: 25px;
}
.logo-separator {
    background-color: #2b6777;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
.display-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.money-card{
    height: 150px;
    background-color: #52ab98;
    width: 500px;
    border-radius: 15px;
    padding: 15px;
    font-size: 35px;
    color: white
}
.bg-primary-customise{
    background-color: #fff;
    color: #2b6777;
    border-bottom: 2px solid #2b6777;
}
.list-group-item {
    background-color: #2b6777 !important;
}

.list-group-item:hover {
    background-color: #c8d8e4 !important;
}
.navbar-dark .navbar-brand{
    color: #2b6777 !important;
    


